<div class="jumbotron">
 
  <div ng-controller="MainCtrl">
	<div class="video-container">
	    <video id="example_video_1" class="video-js vjs-default-skin" controls preload="none" width="600" height="400" poster="" data-setup="{}">
	    <source src="images/landing.mp4" type='video/mp4' />
	    <source src="images/landing.ogv" type='video/ogg' />
	    <track kind="captions" src="" srclang="en" label="English"></track><!-- Tracks need an ending tag thanks to IE9 -->
	    <track kind="subtitles" src="" srclang="en" label="English"></track><!-- Tracks need an ending tag thanks to IE9 -->
	    </video>
	</div>
  </div>

<!--   <p><a class="btn btn-lg btn-success" ng-href="#">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p> -->
</div>

<div class="row marketing">

</div>
